<div><%= "id: #{@user.id}" %></div>
<div><%= "name: #{@user.name}" %></div>
<div><%= "created_at: #{@user.created_at}" %></div>
<div><%= "updated_at: #{@user.updated_at}" %></div>
<div><%= Time.now %></div>
